{% extends 'boards/base.html' %}
{% block title %} index {% endblock %}

{% block css %}
    
<head>
    <style>
        h1{
            font-family: 'Noto Serif KR', serif;
        }
        #index{
            font-family: 'Nanum Myeongjo', serif;
        }
    </style>
</head>
{% endblock %}

{% block body %}

<h1>게시글 목록</h1>
<div class="d-flex flex-row-reverse my-5">
    <a href="{% url 'boards:create' %}" class="btn btn-outline-primary btn-sm" role="button">새 글 쓰기</a>
</div>

<div id="index" class="row my-3">
    <div class="col-1">번호</div>
    <div class="col-8">제목</div>
    <div class="col-2">작성자</div>
    <div class="col-1">조회수</div>
</div>


{% for board in boards %}
<div class="row">
    <div class="col-1">{{ board.pk }}</div>
    <div class="col-8"><a href="{% url 'boards:detail' board.pk %}">{{ board.title }}</a></div>
    <div class="col-2">{{ board.user }}</div>
    <div class="col-1">{{ board.hit }}</div>
</div>
<hr>

{% endfor %}
{% endblock %}